@import "/scss/settings/_reset";
@import "/scss/settings/_variables";
@import "/scss/settings/_mixins";
@import "/scss/settings/_buttons";
@import "/scss/settings/_headers.scss";
@import "/scss/settings/_forms.scss";

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: $font-poppins;
}

// How to mixins
// .test::before {
//   font-family: $font-material-icons;
//   font-size: 50rem;
//   content: "\e894";
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body,
#app {
  width: 100%;
}

.container {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
  // @include small_desktop {
  //   width: $container-width-small-desktop;
  // }

  // @include smallest_desktop {
  //   width: $container-width-smallest-desktop;
  // }

  // @include tablet {
  //   width: 80%;
  // }
}

@import "/scss/sections/_nav";
@import "/scss/sections/_search-appointments.scss";
@import "/scss/sections/_search-appointments.scss";
@import "/scss/sections/_footer.scss";
@import "/scss/sections/_dashboardPatient.scss";
@import "/scss/settings/_dashboardLittleComps.scss";
@import "/scss/settings/_dashboardPatient-LHS.scss";
