.dashboard-patient {
  margin-bottom: 90px;
  height: 800px;
  width: 100%;

  .container-dashboard-patient {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 20px;

    .dashboard-patient__right-column {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
  }
}
