.dashboard-patient {
  margin: 90px 0;
  height: 800px;
  width: 100%;
  //   background-color: lightblue;

  .container-dashboard-patient {
    height: 100%;
    // background-color: grey;
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 20px;

    .dashboard-patient__right-column {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
    }
  }
}
