.login-screen {
  display: grid;
  grid-template-columns: 3fr 7fr;

  .login-screen__left-column {
    display: block;
    height: 100vh;
    background-color: $color-greys-light-1;
    padding: 75px;

    .left-column__logo {
      margin-bottom: 140px;
    }

    .login-screen {
      margin-bottom: 55px;
    }

    .left-column__form {
      margin-bottom: auto;

      .form__bottom-section {
        display: flex;
        justify-content: flex-start;
      }
    }
  }

  .login-screen__right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    .right-column__top-callout {
      margin: 40px;
      display: flex;
      align-items: center;
      .top-callout__description {
        margin-right: 30px;
        @include fonts(1.125rem, 400, $color-main-text);
      }
    }

    .right-column__bottom-section {
      // align-self: center;
      // width: 500px;
      // margin-left: auto;
      // @include flex(flex-end, flex-end);
      // flex-direction: column;
      // align-self: flex-end;
      // margin-left: auto;
      @include flex(flex-start, flex-end);
      flex-direction: column;
      .bottom-section__health-packages {
        width: 100%;
        // align-self: flex-start;
        padding: 10px 45px;
        margin-bottom: 50px;
        border-left: 1px solid $color-greys-light-2;
        max-width: 80%;
        .health-packages__description {
          max-width: 480px;
          margin-bottom: 35px;
          @include fonts(1.25rem, 400, $color-main-text);
          line-height: 1.625rem;
        }

        .health-packages__logos {
          max-width: 480px;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 35px;

          .logos__single-logo {
            height: 50px;
          }
        }
      }

      .bottom-section__main-image {
        border-radius: 0 216px;
        // max-width: 100%;
        width: 80%;
      }
    }
  }

  @include medium_desktop {
    .login-screen__right-column {
      .right-column__top-callout {
        button {
          min-width: 207px;
        }
      }

      .right-column__bottom-section {
        .bottom-section__health-packages {
          border-left: none;
          .health-packages__description {
          }
        }

        .bottom-section__main-image {
          border-radius: 0 216px 0 0;
        }
      }
    }
  }

  @include small_desktop {
    grid-template-columns: 4fr 6fr;

    .login-screen__left-column {
      .left-column__logo {
      }

      .login-screen {
      }

      .left-column__form {
        .form__bottom-section {
        }
      }
    }

    .login-screen__right-column {
      .right-column__top-callout {
        button {
          min-width: 207px;
        }
        .top-callout__description {
        }
      }

      .right-column__bottom-section {
        margin-top: auto;
        align-items: flex-start;
        .bottom-section__health-packages {
          .health-packages__description {
          }

          .health-packages__logos {
            .logos__single-logo {
            }
          }
        }

        .bottom-section__main-image {
          margin-top: auto;
        }
      }
    }
  }

  @include smallest_desktop {
    // need any transition between sizes above and below?
  }

  @include tablet {
    grid-template-columns: 1fr;

    .login-screen__left-column {
      height: inherit;
      padding: 10%;
      .left-column__logo {
      }

      .login-screen {
      }

      .left-column__form {
        .form__bottom-section {
          margin: 50px 0;

          button {
            width: 100%;
          }
        }
      }
    }

    .login-screen__right-column {
      // margin: 0;
      // padding-top: 50px;
      box-sizing: border-box;
      // padding: 75px;
      align-items: flex-start;
      // padding: 75px;
      align-items: center;

      .right-column__top-callout {
        margin: 50px 0;
        width: 80%;
        // padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        // margin: 0;
        button {
          width: 100%;
        }
        .top-callout__description {
          margin: 30px 0;
        }
      }

      .right-column__bottom-section {
        .bottom-section__health-packages {
          padding: 10%;
          padding: 50px 0;
          margin-left: auto;
          margin-right: auto;
          padding-top: 50px;
          // padding: 0;
          border-top: 1px solid $color-greys-light-2;
          width: 80%;
          // padding: 0;
          .health-packages__description {
            max-width: inherit;
          }

          .health-packages__logos {
            @include flex(center, flex-start);
            flex-direction: column;
            .logos__single-logo {
              // height: 80%;
              // height: inherit;
              // max-height: 80%;
              // max-height: calc(50% - 35px);
              // height: 50%;
            }
          }
        }

        .bottom-section__main-image {
          border-radius: 0;
          width: 100%;
        }
      }
    }
  }

  @include small_mobile {
    .login-screen__left-column {
      .left-column__logo {
      }

      .login-screen {
      }

      .left-column__form {
        .form__bottom-section {
        }
      }

      button {
      }
    }

    .login-screen__right-column {
      .right-column__top-callout {
        button {
        }
        .top-callout__description {
        }
      }

      .right-column__bottom-section {
        .bottom-section__health-packages {
          .health-packages__description {
          }

          .health-packages__logos {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .logos__single-logo {
            }
          }
        }

        .bottom-section__main-image {
        }
      }
    }
  }
}
