.search-dashboard {
  position: relative;

  .search-results {
    margin-bottom: 90px;
    height: 880px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;

    @include tablet {
      height: inherit;
    }

    .search-results__table-container {
      display: flex;
      flex-direction: column;
      position: relative;

      .search-table {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;

        tbody {
          // height: auto;
          height: 610px;
          overflow-y: auto;
          // height: inherit;
          // flex: 1;
        }
      }

      .table-container__no-appo {
        position: absolute;
        // margin-left: auto;
        // margin-right: auto;
        // margin-top: auto;
        // margin-bottom: auto;
        width: 100%;
        height: 100%;
        @include flex(center, center);
        flex-direction: column;

        @include tablet {
          position: static;
          margin: 100px 0;
        }
        .no-appo__sad-face {
          @include fonts(5rem, 400, $color-main-pink);
          margin-bottom: 40px;
        }

        .no-appo__message {
          text-align: center;
          @include fonts(1.2rem, 400, $color-main-blue);
        }
      }
    }
  }
}
