.search-appointment {
  margin-bottom: 90px;
  margin-top: 90px;
  .search-appointment-container {
    position: relative;
    .search-appointment__main-title {
      padding-bottom: 44px;
    }

    .search-appointment__validation-warning {
      background-color: $color-main-pink-dark;
      padding: 10px 15px;
      position: absolute;
      z-index: 1;
      bottom: -55px;
      left: 0;
      width: 100%;
      border-radius: 30px;
      .validation-warning__message {
        @include fonts(1rem, 600, $color-main-white);
      }

      @include tablet {
        text-align: center;
        display: block;
        width: 100%;
        bottom: -50px;
      }

      @include small_mobile {
        bottom: -70px;
      }
    }
  }

  .search-appointment__form {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.75fr 0.75fr;
    gap: 2rem;
    grid-auto-rows: 52px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }
}

.picker {
  grid-column: 5/10;
  grid-row: 2/4;
  background: cornflowerblue;

  input {
    border: none;
  }
}
