.search-appointment {
  margin-bottom: 90px;
  .search-appointment-container {
    position: relative;
    .search-appointment__main-title {
      padding-bottom: 44px;
    }
  }

  .search-appointment__form {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.75fr 0.75fr;
    gap: 2rem;
    grid-auto-rows: 52px;
  }
}

.validaiton-warning {
  @include fonts(1rem, 500, $color-sec-angry-red);
  position: absolute;
  z-index: 1;
  top: 45px;
}

.picker {
  grid-column: 5/10;
  grid-row: 2/4;
  background: cornflowerblue;

  input {
    border: none;
  }
}

.datepicker-input {
  text-align: left;
  width: 100%;
  height: 52px;
  color: $color-main-text;
  background-color: $color-main-white;
  padding: 14px 40px;
  font-family: $font-poppins;
  font-size: 1rem;
  border-radius: 2rem;
  border: 1px solid $color-main-blue;
}
