.careers {
  font-family: $font-poppins;
  margin-bottom: 230px;

  @include mobile {
    margin-bottom: 120px;
  }

  .careers__title-section {
    margin-right: 200px;
    margin-bottom: 65px;

    @include small_desktop {
      margin-right: 0;
    }
  }

  .careers__columns {
    display: grid;
    grid-template-columns: 928fr 337fr;
    gap: 35px;

    .columns__left-column {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 35px;
      position: relative;
      .single-profession {
        cursor: pointer;
        border: 1px solid $color-greys-mid-1;
        border-radius: 32px;
        background-color: $color-main-white;

        .single-profession__head {
          padding: 45px;
          min-height: 140px;
          border-bottom: 1px solid $color-greys-mid-1;
          position: relative;
          .head__name {
            @include fonts(1.5rem, 600, $color-main-blue);
          }

          .head__plus-sign {
            transition: 0.2s;
            position: absolute;
            bottom: -22px;
            z-index: 50;
            border-radius: 50%;
            width: 44px;
            height: 44px;
            @include flex(center, center);
            .plus-sign__plus-icon {
            }
          }

          .head__exit-sign {
            position: absolute;
            top: 0;
            right: 0;
            margin: 45px;
            .exit-sign__exit-icon {
              height: 100%;
            }
          }
        }

        .single-profession__body {
          padding: 45px;
          .body__description {
            @include fonts(1rem, 400, $color-greys-dark-2);
            line-height: 1.25rem;
          }
        }
      }
    }

    .columns__right-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // min-height: 800px;

      .right-column__button-container {
        .button-container__decription {
          @include fonts(1.25rem, 400, $color-main-blue);
          line-height: 1.5rem;
          margin-bottom: 20px;
        }
      }

      .right-column__main-image {
        border-radius: 0 264px 264px 264px;
      }
    }

    @include small_desktop {
      .columns__left-column {
        .single-profession {
          .single-profession__head {
            padding: 30px;
            min-height: 110px;
            .head__name {
              font-size: 1.3rem;
            }
          }

          .single-profession__body {
            padding: 30px;
            .body__description {
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    @include smallest_desktop {
      grid-template-columns: 1fr;
      gap: 80px;
      .columns__right-column {
        gap: 30px;
        min-height: auto;
        .right-column__main-image {
          width: 30%;
          display: none;
        }

        .right-column__button-container {
          width: 100%;
        }
      }
    }

    @include smallest_tablet {
      .columns__left-column {
        grid-template-columns: 1fr;

        .single-profession {
          .single-profession__head {
            min-height: 50px;
          }
        }
      }
    }

    @include mobile {
      .columns__right-column {
        .right-column__main-image {
          width: 50%;
          margin-left: auto;
        }
      }
    }

    @include small_mobile {
      margin-bottom: 100px;
      .columns__right-column {
        .right-column__main-image {
          width: 100%;
          margin-left: inherit;
        }
      }
    }
  }
}

.remove-sizes {
  width: unset !important;
  height: unset !important;
}
