.landing-nav__container {
  border-bottom: 1px solid $color-greys-light-1;
  .landing-nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-family: $font-poppins;
    .landing-nav__logo-top {
      max-width: 210px;
      @include small_mobile {
        max-width: 160px;
      }
    }

    .landing-nav__right-column {
      display: flex;

      .right-column__menu {
        display: flex;

        .menu__single-option {
          display: block;
          margin: auto 25px;
          color: $color-main-blue;
          @include fonts(1.1rem, 400, $color-main-blue);

          a {
            display: block;
            margin: auto;
            color: $color-main-blue;

            &:hover {
              color: $color-main-pink;
            }
          }

          &:visited {
            color: $color-main-blue;
          }

          &:hover {
            color: $color-main-pink;
            cursor: pointer;
          }
        }
      }

      .right-column__button-container {
        margin-left: 25px;

        @include small_desktop {
          margin: 30px 0;
        }
      }

      @include smallest_desktop {
        display: none;
        // display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        .right-column__menu {
          display: flex;
          flex-direction: column;
          .menu__single-option {
            margin: 20px 0;
          }
        }
      }
    }

    @include small_desktop {
      flex-wrap: wrap;
    }
  }

  .landing-nav__menu-btn:checked ~ .landing-nav__menu-icon .navicon {
    background: transparent;
  }

  .landing-nav__menu-btn:checked ~ .landing-nav__menu-icon .navicon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  .landing-nav__menu-btn:checked ~ .landing-nav__menu-icon .navicon:after {
    transform: rotate(45deg);
    top: 0;
  }
}

// HAMBURGER STARTS HERE
.landing-nav__menu-icon {
  cursor: pointer;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;

  .navicon {
    background: $color-main-blue;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  .navicon:before,
  .navicon:after {
    background: $color-main-blue;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .navicon:before {
    top: -5px;
  }
  .navicon:after {
    top: 5px;
  }

  display: none;
  @include smallest_desktop {
    display: block;
  }
}

.landing-nav__menu-btn {
  display: none;
}

.landing-nav__menu-btn:checked ~ .landing-nav__right-column {
  @include smallest_desktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    .right-column__menu {
      display: flex;
      flex-direction: column;
      .menu__single-option {
        margin: 20px 0;
      }
    }
  }
}
