.calculator-container {
  z-index: 5;
  margin-bottom: 150px;
  background-color: $color-sec-blue;
  //   clip-path: polygon(0 0, 0 45%, 100% 100%, 100% 0, 100% 45%);
  clip-path: polygon(100% 25%, 100% 75%, 0 100%, 0 0);

  //   .calculator__top-separator {
  //     width: 0;
  //     height: 0;
  //     border-left: 100% solid transparent;
  //     border-top: 13.9% solid white;
  //     // margin-top: 13.9vw;
  //   }

  //   .calculator__bottom-separator {
  //     width: 0;
  //     height: 0;
  //     border-right: 100vw solid transparent;
  //     border-top: 13.9vw solid red;
  //     margin-top: -13.9vw;
  //   }

  .calculator__content-section {
    // min-height: 600px;
    // background-color: aquamarine;
    padding-top: 12%;
    padding-bottom: 20%;
    .content-section__section-title {
      h2.section-title__main-title {
        width: 50%;
        color: $color-main-white;
      }

      .section-title__subtitle-description {
        @include fonts(1.125rem, 400, $color-main-white);
        margin-top: 20px;
        margin-bottom: 100px;
      }
    }

    .content-section__subscription-options {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 30px;
      cursor: pointer;

      .subscription-options__single-option {
        background-color: $color-main-white;
        border-radius: 32px;
        padding: 35px;

        .single-option__name {
          @include fonts(1.5rem, 600, $color-main-blue);
          margin-bottom: 33px;
        }

        .single-option__description {
          @include fonts(1rem, 400, $color-main-blue);
          line-height: 1.3rem;
          margin-bottom: 30px;
        }

        .single-option__tickmark-container {
          .tickmark {
            width: 50px;
            height: 50px;
            border: 1px dashed $color-greys-mid-2;
            border-radius: 25px;
            @include flex(center, center);
          }

          .tickmark--checked {
            width: 50px;
            height: 50px;
            border-radius: 25px;
            @include flex(center, center);
            // border: none;
          }
        }
      }
    }

    .content-section__result {
      margin-top: 50px;
      @include flex(center, center);
      flex-direction: column;
      .result__title {
        @include fonts(1.75rem, 500, $color-main-pink);
      }

      .result__result-box {
        margin: 20px 0 20px 0;
        padding: 20px 100px;
        width: 300px;
        border: 4px solid $color-main-pink;
        border-radius: 40px;
        text-align: center;
        @include fonts(1.75rem, 500, $color-main-white);
      }
    }

    .content-section__footer {
      .footer__note {
        @include fonts(1.125rem, 400, $color-main-white);
        margin-top: 60px;
        margin-bottom: 0;
      }
    }
  }
}
