//

.hero-main {
  padding: 100px 0 200px 0;
  font-family: $font-poppins;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .hero-main__left-column {
    max-width: 573px;
    .left-column__subtitle {
      color: $color-main-pink;
      margin-bottom: 50px;
      @include fonts(1.5rem, 400, $color-main-pink);

      @include smallest_desktop {
        @include fonts(1.3rem, 400, $color-main-pink);
      }
    }

    .left-column__button-icon {
      display: flex;
      gap: 5px;
    }
  }

  .hero-main__right-column {
    max-width: none;
    width: 532px;
    aspect-ratio: 1/1;
    grid-template-columns: 1fr;
    //////////////////////////////// Legacy math;
    // gap: $hero-images-gap;
    gap: $gapPercentageOuter;
    //

    .right-column__images-outer {
      width: 100%;
      //////////////////////////////// Legacy math;
      // height: calc(
      //   100% - (((100% - (2 * $hero-images-gap)) / 3) + $hero-images-gap)
      // );
      height: calc(($singleColumn * 2) + $gapPercentageOuter);
      // gap: $hero-images-gap;
      gap: $gapPercentageOuter;
      //
      display: flex;
      .right-column__image1 {
        max-width: none;
        height: 100%;
        border-radius: $heroRadius $heroRadius 0 $heroRadius;
        object-fit: cover;
        //////////////////////////////// Legacy math;
        // width: calc((100% - ($hero-images-gap * 2)) / 3);
        width: $singleColumn;
        //
      }

      .right-column__images-inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        //////////////////////////////// Legacy math;
        // width: calc(
        //   100% - (((100% - (2 * $hero-images-gap)) / 3) + $hero-images-gap)
        // );
        width: calc(($singleColumn * 2) + $gapPercentageOuter);
        // row-gap: $hero-images-gap;
        row-gap: $gapPercentageInner;
        //

        .right-column__image2 {
          max-width: none;
          border-radius: $heroRadius;
          object-fit: cover;
          //////////////////////////////// Legacy math;
          // width: calc((100% - $hero-images-gap) / 2);
          width: calc((100% - $gapPercentageInner) / 2);
          // height: calc((100% - $hero-images-gap) / 2);
          height: calc((100% - $gapPercentageInner) / 2);
          //
        }
        .right-column__image3 {
          object-fit: cover;
          max-width: none;
          border-radius: $heroRadius;
          width: 100%;
          //////////////////////////////// Legacy math;
          // height: calc((100% - $hero-images-gap) / 2);
          height: calc((100% - $gapPercentageInner) / 2);
          //
        }
      }
    }
    .right-column__image4 {
      border-radius: $heroRadius 0 $heroRadius $heroRadius;
      object-fit: cover;
      max-width: none;
      width: 100%;
      //////////////////////////////// Legacy math;
      // height: calc((100% - ($hero-images-gap) * 2) / 3);
      height: $singleColumn;
      // margin-top: $hero-images-gap;
      margin-top: $gapPercentageOuter;
      //
    }
  }
}

.hero-main {
  @include smallest_desktop {
    padding: 70px 0 120px 0;

    .hero-main__left-column {
      max-width: 45%;
    }

    .hero-main__right-column {
      width: 380px;
      height: 380px;
    }
  }

  @include smaller_tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero-main__left-column {
      max-width: none;
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .left-column__subtitle {
        text-align: center;
      }
    }

    .hero-main__right-column {
      width: 480px;
      height: 480px;
    }
  }

  @include mobile {
    width: 80%;
    margin: 0 auto;
  }

  @include small_mobile {
    width: 90%;

    .hero-main__right-column {
      width: 100%;
      height: 90vw;
      aspect-ratio: 1/1;
    }
  }
}
