.fade-in-object {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader-circle {
  @include flex(center, center);
  flex-direction: column;
  margin-bottom: 120px;
  height: 830px;
  background-color: $color-main-white;
  border: 1px solid $color-greys-light-1;
  border-radius: $border-radius;

  .loader-circle__text {
    margin-top: 50px;
    @include fonts(2rem, 400, $color-main-blue);
    text-align: center;
    @include tablet {
      margin: 50px;
    }
  }
}

.popup-icon--big {
  font-family: $font-material-icons;
  font-size: 8rem;
  color: $color-main-pink;
  margin-bottom: 50px;
}

.loader-circle--empty {
  @include flex(center, center);
  height: 100vh;
  width: 100vw;

  .hourglass-animating {
    animation: circle-rotating 2s infinite cubic-bezier(0.52, 0.23, 0.26, 0.82);
  }
}

.loader-circle--small {
  @include flex(center, center);
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  border: none;
}

.hourglass-animating {
  animation: circle-rotating 2s infinite cubic-bezier(0.52, 0.23, 0.26, 0.82);
}

@keyframes circle-rotating {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
