@import "/scss/settings/_variables.module.scss";
@import "/scss/settings/_mixins";

.main-button {
  font-family: $font-poppins;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  background-color: $color-main-pink;
  color: $color-main-white;
  padding: 12px 40px;
  border-radius: 26px;
  border: none;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $color-main-pink-dark;
  }

  &:hover {
    .left-column__button-icon {
      img {
        margin-left: 15px;
        transition: 0.5s;

        @include smallest_desktop {
          margin-left: 0;
          transition: 0;
        }
      }
    }
  }

  .left-column__button-icon {
    .button-icon__icon {
      height: 17px;
      margin: auto 0;

      @include small_mobile {
        display: none;
      }
    }
  }

  @include smallest_desktop {
    width: 100%;
  }

  @include tablet {
    padding: 12px 20px;
  }

  @include smaller_tablet {
    font-size: 1rem;
    display: inline;
    width: auto;
    padding: 12px 40px;
  }
}

.hero-main {
  .main-button {
    @include smallest_desktop {
      width: inherit;
    }
  }
}

.secondary-button {
  background-color: $color-main-white;
  border: 1px solid $color-main-pink;
  color: $color-main-pink;

  &:hover {
    background-color: $color-main-white;
    border: 1px solid $color-main-pink-dark;
    color: $color-main-pink-dark;
  }
}

.tertiary-button {
  background-color: $color-main-blue;
  text-align: center;
  &:hover {
    background-color: $color-main-text;
  }

  @include smallest_desktop {
    padding: 10px 15px;
  }
}

.quaternary-button {
  background-color: $color-main-pink;
  @include fonts(1.25rem, 400, $color-main-white);
  display: inline;
}

.wide-buttons {
  padding: 12px 70px;

  @include tablet {
    padding: 12px 40px;
    width: 100%;
  }
}
