.dashboard__header--small {
  padding: 30px;
  border-bottom: 1px solid $color-greys-mid-1;

  @include smallest_desktop {
    padding: 25px 20px;
  }

  @include tablet {
    padding: 30px;
  }
}

.dashboard__header--small-white {
  border-bottom: 1px solid $color-main-white;
  .small-white__title {
    color: $color-main-white;
  }
}

.dashboard__header-big {
  padding: 30px;
  border-bottom: 1px solid $color-greys-mid-1;
  @include flex(flex-start, center);
  .header-big__back-arrow {
    margin-right: 15px;
    &::before {
      display: block;
      font-family: $font-material-icons;
      color: $color-main-pink;
      font-size: 3rem;
      content: "\e5c4";
    }
  }
}

.dashboard__footer--small {
  padding: 30px;
  @include flex(flex-end, center);
  border-top: 1px solid $color-greys-mid-1;

  .footer--small__button {
    @include fonts(1rem, 600, $color-main-pink);
    transition: 0.2s;
  }

  .footer--small__button:hover {
    color: $color-main-pink-dark;
  }
}

.dashboard__footer--small-white {
  border-top: 1px solid $color-main-white;
}

.dashboard__block {
  background-color: $color-main-white;
  border: 1px solid $color-greys-light-1;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .block-small__body {
    padding: 25px;

    .body__super-text {
      @include fonts(1.125rem, 500, $color-sec-blue);
      text-align: center;
    }

    @include tablet {
      min-height: 95px;
      @include flex(center, center);
      flex-direction: column;
    }

    .body__secondary-text {
      @include fonts(0.75rem, 500, $color-main-text);
      margin-top: 15px;
      text-align: center;

      span {
        color: $color-main-pink;
      }
    }
  }
}

.dashboard__block-small--blog {
  // background-color: none;
  background: linear-gradient(
    180deg,
    $color-sec-lightblue 0%,
    $color-sec-lightblue-light 100%
  );
  display: flex;
  // justify-content: flex-start;
  .block-small__body--blog {
    margin-bottom: auto;

    .body__image {
      background-color: $color-sec-blue;
    }

    .body-blog__title {
      @include fonts(1rem, 500, $color-main-white);
      margin: 15px 30px;
    }

    .body-blog__description {
      @include fonts(0.75rem, 400, $color-main-white);
      margin: 0 30px;
    }

    @include tablet {
      .body-blog__title {
        margin-top: 30px;
      }

      .body-blog__description {
        margin-bottom: 30px;
      }
    }
  }
}

.dashboard__block-small--static {
  background-color: $color-main-white;
  border: 1px solid $color-greys-light-1;
  border-radius: $border-radius;

  @include flex(center, center);
  flex-direction: column;

  .static__icon {
    &::before {
      font-family: $font-material-icons;
      display: block;
      font-size: 5rem;
      color: $color-main-blue;
      text-align: center;
    }
  }

  .static__icon--consultant {
    &::before {
      content: "\e8a8";
    }
  }
  .static__icon--settings {
    &::before {
      content: "\e8b9";
    }
  }

  .static__title {
    text-align: center;
    margin: 30px 0;
    line-height: 1.75rem;
  }

  .static__description {
    @include fonts(0.75rem, 500, $color-main-text);
    line-height: 1rem;
    text-align: center;
  }

  @include tablet {
    padding: 30px 0;
  }
}
