.form-select {
  border: 2px solid $color-main-blue;
  padding: 14px 22px;
  border-radius: $border-radius;
}

.white-form {
  font-family: $font-poppins;
  color: $color-main-white;
  padding: 15px;
  border-radius: 30px;
  background-color: $color-main-blue;
  border: 2px solid $color-main-white;
  width: 100%;
  transition: 0.2s;
  font-size: 1rem;

  &:focus {
    border: 2px solid $color-main-white;
    background-color: $color-main-blue-light;
    outline: white;
  }
  &::placeholder {
    color: $color-main-white;
  }
}

.form-header {
  @include fonts(1rem, 400, $color-greys-dark-1);
  margin-bottom: 5px;
  display: block;
}

.form-write {
  width: 100%;
  font-family: $font-poppins;
  margin-bottom: 40px;
  border: 2px solid $color-main-blue;
  border-radius: $border-radius;
  padding: 12px 20px;
  color: $color-main-text;
  @include fonts(1.125rem, 400, $color-main-blue);

  &::placeholder {
    @include fonts(1.125rem, 400, $color-greys-mid-2);
  }
}

.form-write--long-form {
  margin-bottom: 25px;
}

input {
  outline: none;
}

.datepicker-input {
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 52px;
  color: $color-main-text;
  background-color: $color-main-white;
  padding: 14px 40px;
  font-family: $font-poppins;
  font-size: 1rem;
  border-radius: 2rem;
  border: 1px solid $color-main-blue;

  @include tablet {
    padding: 0 17px;
  }
}

.react-datepicker__input-container {
  :hover {
    border: 1px solid $color-greys-mid-2;
  }
}

.react-datepicker-popper {
  div {
    .react-datepicker {
      border-radius: calc(2rem + 20px);
      border: 1px solid $color-greys-mid-2;
      font-family: $font-poppins;

      // triangle
      .react-datepicker__triangle {
        // border-bottom-color: $color-main-white;

        &::after {
          border-bottom-color: $color-main-white;
        }

        &::before {
          border-bottom-color: $color-greys-mid-2;
        }
      }

      .react-datepicker-popper[data-placement^="bottom"]
        .react-datepicker__triangle::after {
        border-bottom-color: $color-main-white;
      }

      .react-datepicker-popper[data-placement^="bottom"]
        .react-datepicker__triangle::before {
        top: 50px;
        border-bottom-color: white;
      }

      .react-datepicker__aria-live {
      }

      // nav starts here
      .react-datepicker__navigation {
        // background-color: yellow;
        margin-top: 28px;

        padding: 20px;
      }

      .react-datepicker__navigation--previous {
        margin-left: 29px;
        span {
        }
      }

      .react-datepicker__navigation--next {
        margin-right: 29px;
        span {
        }
      }

      //body starts here
      .react-datepicker__month-container {
        padding: 20px;

        .react-datepicker__header {
          border-radius: 2rem;
          border-bottom: none;
          padding: 5px 10px 0 10px;
          .react-datepicker__current-month {
            padding: 15px 10px;
            @include fonts(1.2rem, 600, $color-main-blue);
          }

          .react-datepicker__header__dropdown {
          }
          .react-datepicker__header__dropdown--scroll {
          }

          .react-datepicker__day-names {
            // day names
            // display: flex;
            // justify-content: space-between;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            text-align: center;
            .react-datepicker__day-name {
              // padding: 10px 25px;
              // width: calc(100% / 7);
              text-align: center;
            }
          }
        }

        .react-datepicker__month {
          // days to choose
          // padding: 0 10px;
          margin: 10px 10px;
          .react-datepicker__week {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            .react-datepicker__day {
              // standard day
              // padding: 5px 20px;
              // width: calc(100% / 7);
              &:hover {
                border-radius: 35px;
              }
            }

            .react-datepicker__day--keyboard-selected {
              //current selection
              border-radius: 35px;
            }

            .react-datepicker__day--outside-month {
              //outside of month -- optional
            }

            .react-datepicker__day--weekend {
              //weekend day -- optional
            }

            .react-datepicker__day--today {
              border-radius: 35px;

              &:hover {
                border-radius: 35px;
              }
            }
          }
        }
      }
    }
  }
}
