h1 {
  font-size: 2rem;
  font-weight: 500;
  color: $color-main-blue;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: $color-main-text;
}

// i tutaj (3)
h3 {
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  color: $color-main-blue-light;
}
