h1 {
  @include fonts(2rem, 500, $color-main-blue);

  @include mobile {
    @include fonts(1.5rem, 500, $color-main-blue);
  }
}

h1.hero-main__left-column__title {
  font-size: 4.375rem;
  font-weight: 400;
  margin-bottom: 20px;

  @include small_desktop {
    font-size: 3.75rem;
    padding-right: 50px;
  }

  @include smallest_desktop {
    font-size: 3rem;
    padding-right: 0;
  }

  @include smaller_tablet {
    text-align: center;
  }

  @include mobile {
    font-size: 2.5rem;
  }
}

h2 {
  @include fonts(1.5rem, 500, $color-main-text);

  @include small_desktop {
    @include fonts(1.3rem, 500, $color-main-text);
  }

  @include smallest_desktop {
    @include fonts(1.1rem, 500, $color-main-text);
  }
}

h2.landing-section-title {
  @include fonts(3.5rem, 500, $color-main-blue);
  line-height: 4.25rem;
}

h3 {
  @include fonts(2rem, 500, $color-main-blue);
  line-height: 2.5rem;
  display: inline;
  span {
    font-weight: 600;
  }

  @include mobile {
    @include fonts(1.5rem, 500, $color-main-blue);
    line-height: 1.8rem;
  }

  @include small_mobile {
    @include fonts(1.2rem, 500, $color-main-blue);
    line-height: 1.5rem;
  }
}

h3.login-screen {
  font-weight: 400;
  display: block;

  @include small_desktop {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
}

h4 {
  @include fonts(1.125rem, 500, $color-main-pink);
  margin-bottom: 30px;

  @include small_desktop {
    font-size: 1.05rem;
  }
}

h4.tooltip-near {
  margin-bottom: 0;
}

h6 {
  @include fonts(1.25rem, 500, $color-main-blue-light);
}

p.subtitle-description {
  @include fonts(1.25rem, 400, $color-main-blue);
  line-height: 1.5rem;
}
