h1 {
  @include fonts(2rem, 500, $color-main-blue);
}

h2 {
  @include fonts(1.5rem, 500, $color-main-text);
}

h3 {
  @include fonts(2rem, 500, $color-main-blue);
  line-height: 2.5rem;
  display: inline;
  span {
    font-weight: 600;
  }
}

h3.login-screen {
  font-weight: 400;
  display: block;
}

h6 {
  @include fonts(1.25rem, 500, $color-main-blue-light);
}
