.pop-up {
  width: 100%;
  height: 100%;
  border-radius: $border-radius;

  position: absolute;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.88);

  @include flex(center, center);
  .pop-up__window {
    max-width: 740px;

    background-color: $color-main-white;
    border: 1px solid $color-greys-light-1;
    border-radius: $border-radius;

    .window__body {
      padding: $margin-inside;

      .body__message {
        @include fonts(1rem, 400, $color-main-text);
        margin-bottom: 5px;
        line-height: 1.5rem;
        span {
          font-weight: 600;
        }
      }

      .body__appointment-name {
        @include fonts(1rem, 500, $color-main-text);
      }

      .body__buttons {
        margin: 60px 80px 0 80px;
        @include flex(center, center);
        gap: 20px;
      }
    }

    .warning__header-icon {
      font-size: 4rem;
      color: $color-sec-angry-red;
      margin-right: 20px;
    }

    .window__body--centered {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .pop-up__loader {
    margin: $margin-inside;
    display: flex;
    flex-direction: column;
    align-items: center;
    .loader__icon {
      font-family: $font-material-icons;
      font-size: 8rem;
      color: $color-main-pink;
      margin-bottom: 50px;
    }

    .loader__text {
      @include fonts(2rem, 400, $color-main-blue);
    }
  }
}

.pop-up--no-radius {
  border-radius: 0;
}

.pop-up--tiny {
  width: 100%;
  height: 100%;
  @include flex(center, center);
  .pop-up__loader {
    .loader__icon {
      font-size: 3rem;
      color: $color-main-pink;
    }
  }
}

.tooltip {
  display: inline;
  color: $color-main-pink;
  font-family: $font-material-icons;
  font-size: 1rem;
  margin-right: 5px;
  position: relative;

  .tooltip__hover-message {
    white-space: nowrap;
    font-family: $font-poppins;
    background-color: $color-main-white;
    position: absolute;
    padding: 10px;
    border: 1px solid $color-main-pink;
    border-radius: 20px;
    top: -50px;
    z-index: 2;
  }

  .tooltip__fade-in {
    animation: tooltip-fadein 0.1s;
    animation-fill-mode: forwards;
  }

  .tooltip__fade-out {
    animation: tooltip-fadeout 0.1s;
    animation-fill-mode: forwards;
  }
}

.tooltip--warning {
  color: $color-sec-angry-red;
}

.tooltip__head {
  @include flex(flex-start, center);
  margin-bottom: 30px;
}

.validaiton-warning {
  @include fonts(1rem, 500, $color-sec-angry-red);
  position: absolute;
  z-index: 1;
  bottom: -35px;
  left: 0;
}

.validaiton-warning--bottom {
  @include fonts(1rem, 500, $color-sec-angry-red);
  margin-top: 15px;
}

@keyframes tooltip-fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tooltip-fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
