.dashboard-table {
  margin: 30px;

  .table__title {
    margin-bottom: 30px;
    @include fonts(1.125rem, 500, $color-main-pink);
  }

  .table__content {
    width: 100%;
    table-layout: fixed;

    .col-date {
      width: 15%;
      background-color: red;
    }

    .col-time {
      width: 10%;
      background-color: green;
    }

    .col-doctor {
      width: 20%;
      background-color: aqua;
    }

    .col-spec {
      width: 20%;
      background-color: aquamarine;
    }

    .col-address {
      width: 20%;
      background-color: orange;
    }

    .col-set {
      width: 15%;
      background-color: yellow;
    }

    thead {
      border-bottom: 1px solid $color-greys-mid-1;

      tr.content__row-head {
        th {
          @include fonts(1rem, 500, $color-main-text);
          text-align: left;
          padding-bottom: 15px;
        }

        th.content__row-head--last {
          text-align: right;
          margin-right: 10px;
        }
      }
    }

    tbody {
      tr.appo-row {
        td {
          padding-top: 30px;
          @include fonts(1rem, 400, $color-main-text);
        }
      }

      tr.appo-greyed-out {
        td {
          @include fonts(1rem, 400, $color-greys-dark-1);
        }
      }

      tr.loader {
        @include flex(center, center);
        padding: 100px 0 100px 0;
      }

      tr {
        td.content__settings-column {
          text-align: right;
          padding-right: 10px;
          .settings-column__icon {
            color: $color-sec-blue;
          }
        }
      }
    }
  }
}

.appo-list__table--my-appos {
  margin-bottom: 50px;
}

// Below allows scrollbar in tbody
table {
  table-layout: fixed;
  border-collapse: collapse;
  thead {
    tr {
      display: flex;
      justify-content: space-between;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    height: 210px;

    tr {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
