.dashboard-table {
  margin: 30px;
  .table__title {
    margin-bottom: 30px;
    @include fonts(1.125rem, 500, $color-main-pink);
  }

  .table__content {
    width: 100%;
    table-layout: fixed;
    thead {
      border-bottom: 1px solid $color-greys-mid-1;

      .head-date {
        width: 10%;
      }

      .head-time {
        width: 10%;
      }

      .head-doctor {
        width: 25%;
      }

      .head-spec {
        width: 25%;
      }

      .head-address {
        width: 20%;
      }

      .head-set {
        width: 10%;
      }
      tr.content__row-head {
        th {
          @include fonts(1rem, 500, $color-main-text);
          text-align: left;
          padding-bottom: 15px;
        }

        th.content__row-head--last {
          text-align: right;
        }
      }
    }

    tbody {
      tr.appo-row {
        td {
          padding-top: 30px;
          @include fonts(1rem, 400, $color-main-text);
        }
      }

      tr.appo-greyed-out {
        td {
          @include fonts(1rem, 400, $color-greys-dark-1);
        }
      }

      tr {
        td.content__settings-column {
          text-align: right;
          .settings-column__icon {
            color: $color-sec-blue;
          }
        }
      }
    }
  }
}
